body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, iframe {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* General */

h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0
}

h2 {
    color: #369;
    font-size: 13px
}

h2 a {
    text-decoration: none
}

h2 a:visited {
    color: #336699
}

h2 a:hover {
    text-decoration: underline
}

h3 {
    font-size: 110%
}

a img {
    border: 0 none
}

a {
    text-decoration: none;
    color: #369
}

[hidden] {
    display: none
}

.error {
    color: red;
    font-size: small;
}

.status {
    margin: 5px 0 0 5px;
    font-size: small;
}

/* Logo */

.logo {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}

.logo svg {
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.logo.logo-white { fill: #fff}

/* Start Button */

#joinRaven {
    text-align: center;
    margin: 30vh 0;
}

#joinRaven button {
    border: none;
    background-color: #fefefe;
    padding: 20px 60px;
    cursor: pointer;
    height: auto;
}

#joinRaven button img { display: block }

/* Header */

header {
    position: relative;
    height: 64px;
    background-color: #212121;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

header #header-inner {
    width: 90%;
    max-width: 1680px;
    margin: 0 auto;
    
    height: 100%;
}

header .logo { 
    padding: 16px 0;
}

header .logo span {
    vertical-align: top;
    font-size: 32px;
    line-height: 32px;
    padding-left: 8px;
    
    
    float: right;
    display: inline-block;
}

/* Login */

#ravenLogin {
    margin: 0 auto;
    width: 300px;
    margin-top: 20vh;
}

#ravenLogin .logo {
    display: block;
    text-align: center;
    background-color: #212121;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    padding: 36px 0;
    margin: 0 auto 16px;
}

#ravenLogin .btn { 
    width: 100%;
}

.btn.reddit {
    background-color: #ff4500;
}

/* Chat */

/* - Chat Header */
#ravenChat {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: #f6f6f6;
    height: calc(100vh - 64px);
}

#ravenChat .raven-chat-header {
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    padding: 13px 20px;
}

#ravenChat .raven-chat-header h1 {
    line-height: 20px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ravenChat .raven-chat-room-name {
    color: #a5a4a4;
}

/* - Chat Body */

#ravenChat .raven-chat-body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1;
    flex: 1 1;
    border-right: 1px solid transparent;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* - Chat Main */

#ravenChat .raven-chat-main {
    -webkit-flex: 1 1;
    flex: 1 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#ravenChat .raven-chat-window {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

#ravenChat .raven-chat-message-list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.raven-message {
    color: #222222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 15px;
    padding: 2px 5px 3px;
    word-break: break-all;
}

.raven-username {color: #222222}

.raven-flair-class-flair-0 .raven-username {color: #e50000}
.raven-flair-class-flair-1 .raven-username {color: #db8e00}
.raven-flair-class-flair-2 .raven-username {color: #ccc100}
.raven-flair-class-flair-3 .raven-username {color: #02be01}
.raven-flair-class-flair-4 .raven-username {color: #0083c7}
.raven-flair-class-flair-5 .raven-username {color: #820080}

.raven-user-class-self .raven-username {color: #222222}
.raven-user-class-system .raven-username {color: #a5a4a4}

.raven-message .raven-message-timestamp {
    transition: opacity 300ms ease 1s;
    color: #a5a4a4;
    font-size: 11px;
    font-weight: 300;
    opacity: 1;
}

.raven-message .raven-message-message {
    margin-left: 5px;
}

#ravenChat .raven-chat-input {
    background-color: #fafafa;
    position: relative;
    border-top: 2px solid #e8e8e8;
}

#ravenChat .raven-chat-input input[type=text] {
    margin: 0;
    border: none;
    box-shadow: none;
    text-indent: 20px;
    color: #757575;
    box-sizing: border-box;
    padding-right: 110px;
}

#ravenChat .raven-chat-input input[type=text]::-webkit-input-placeholder {
    color: #9E9E9E;
}

#ravenChat .raven-chat-input .text-counter {
    position: absolute;
    right: 20px;
    color: #a5a4a4;
    line-height: 42px;
    pointer-events: none;
    font-size: 12px;
}

.c-form-control {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    padding: 6px 12px;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px -1px rgba(0,0,0,0.15);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#ravenChat .raven-chat-input input[type=submit] {
    display: none;
}

/* - Sidebar */

#ravenChat .raven-chat-sidebar {
    background-color: #fff;
    -webkit-flex: 0 0 300px;
    flex: 0 0 300px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

#ravenChat .raven-chat-sidebar-widget {
    padding: 16px;
}

#ravenChat .raven-chat-sidebar-widget:first-child {
    border-top: 0
}

#ravenChat .raven-chat-sidebar-widget:last-child {
    border-bottom: 0
}

#ravenChat .raven-chat-report {
    text-align: right;
    font-size: 10px
}

#ravenChat .raven-chat-buttons {
    display: -webkit-flex;
    display: flex
}

#ravenChat ._vote-button-style {
    appearance: none;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    color: #3c3c3c;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    text-transform: capitalize
}

#ravenChat ._vote-button-style:first-child {
    margin-left: 0
}

#ravenChat ._vote-button-style:last-child {
    margin-right: 0
}

#ravenChat ._vote-button-style[disabled] {
    font-style: italic
}

#ravenChat ._vote-button-style:hover {
    background-color: #fcfcf7
}

#ravenChat ._vote-button-style:focus {
    background-color: #f5f5e4;
    outline: 1px solid #ffffff
}

#ravenChat ._vote-button-style.raven-active,#ravenChat ._vote-button-style:active {
    background-color: #d7d7d2;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2) inset
}

#ravenChat .raven-chat-quit,#ravenChat .raven-chat-vote {
    -webkit-flex: 1 1;
    flex: 1 1;
    transition: background-color 0.15s;
    appearance: none;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    color: #3c3c3c;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    text-transform: capitalize
}

#ravenChat .raven-chat-quit:first-child,#ravenChat .raven-chat-vote:first-child {
    margin-left: 0
}

#ravenChat .raven-chat-quit:last-child,#ravenChat .raven-chat-vote:last-child {
    margin-right: 0
}

#ravenChat .raven-chat-quit[disabled],#ravenChat .raven-chat-vote[disabled] {
    font-style: italic
}

#ravenChat .raven-chat-quit:hover,#ravenChat .raven-chat-vote:hover {
    background-color: #fcfcf7
}

#ravenChat .raven-chat-quit:focus,#ravenChat .raven-chat-vote:focus {
    background-color: #f5f5e4;
    outline: 1px solid #ffffff
}

#ravenChat .raven-chat-quit.raven-active,#ravenChat .raven-chat-vote.raven-active,#ravenChat .raven-chat-quit:active,#ravenChat .raven-chat-vote:active {
    background-color: #d7d7d2;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2) inset
}

#ravenChat .raven-chat-vote .raven-icon {
    display: block;
    margin: auto
}

#ravenChat .raven-chat-notification-widget label {
    line-height: 20px
}

#ravenChat .raven-chat-user-list-widget {
    overflow-y: auto
}

#ravenChat .raven-chat-user-list-widget .raven-room-participant {
    margin-bottom: 5px
}

#ravenChat .raven-user-list-overflow-indicator {
    color: #a5a4a4;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    margin-left: 25px
}

.raven-room-participant .raven-username {
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #222222;
    display: inline-block;
    vertical-align: middle
}

.raven-room-participant.raven-presence-class-away .raven-username {
    font-style: italic;
    color: #a5a4a4
}

.raven-icon {
    background-image: url(/lib/images/sprite-raven.png);
    background-position: 0px -394px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px
}

.raven-icon {
    background-image: url(/lib/images/sprite-raven.png);
}

.raven-vote-class-abandon .raven-icon {
    background-position: 0px -446px;
    background-repeat: no-repeat
}

.raven-vote-class-stay .raven-icon {
    background-position: 0px -498px;
    background-repeat: no-repeat
}

.raven-vote-class-grow .raven-icon {
    background-position: 0px -550px;
    background-repeat: no-repeat
}

.raven-presence-class-away .raven-icon {
    background-position: 0px -368px;
    background-repeat: no-repeat
}

.raven-presence-class-away.raven-vote-class-abandon .raven-icon {
    background-position: 0px -420px;
    background-repeat: no-repeat
}

.raven-presence-class-away.raven-vote-class-stay .raven-icon {
    background-position: 0px -472px;
    background-repeat: no-repeat
}

.raven-presence-class-away.raven-vote-class-grow .raven-icon {
    background-position: 0px -524px;
    background-repeat: no-repeat
}

.raven-chat .raven-chat-report {
    text-align: right;
}

/* Footer */

footer {
    margin: 24px 0;
    color: gray;
    font-size: smaller;
    text-align: center;
}