<!DOCTYPE html>
<html ng-app="ravenApp">
    <head>
        <link href="/favicon.png" rel="icon" type="image/x-icon"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>Raven</title>
        
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="/lib/css/main.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-controller="globalController">
        <header ng-if="currentPage !== 'account'">
            <div id="header-inner">
                <div class="logo logo-white">
                    <svg viewBox="0 0 895.5 748.3">
                        <path d="M764.9,90.3c8.3-16.6,58.1-21.5,58.1-21.5s59.7-3.8,68.7-13.9c0,0,2.6,2.3,3.7,1.9c0-26.4-88.1-44.2-131.5-36.7
                            c0,0-35.6-28.6-80-17.6c-68.5,17.1-102.5,110.1-102.5,110.1c-111,49-266,261.5-304.3,323.8c-69.7,60.3-119.7,113.2-148.7,154
                            c-19,14.3-64,48.3-78.4,60.9c-5.4,2.7-19.6,12.5-39.3,35.9C-0.5,694.8,0,698.7,0,704.3c6.7-3.5,27.3-17.7,70.8-42.2
                            c32.1-18.1,70.8-37.3,70.8-37.3S68.6,706.1,65,714.6c-7.4,3.6-32.5,31-31.5,33c1.3,2.6,23.8-2.9,26.9-7.2
                            c5.8,0.9,29.4-11.8,35.1-16.8c8.3,0,44.1-25.2,45.8-31.3c18.3-11.5,32.3-20.8,45.8-28.8c14.1-9.5,26.2-18.1,43.1-29.3
                            c40.6-26.8,122.4-67.7,152.6-78.2c11,8.8,31.3-8,31.3-8s-8.8,12.2,5,26c19.3,19.3,76.1-3.6,105.6-17.2c26.9-12.4,60-38.5,72.9-51.3
                            c30.4-30.2,70-72,104.3-134.3C763.2,259.6,722.8,148.7,764.9,90.3z"/>
                    </svg>
                    <span>Raven</span>
                </div>
            </div>
        </header>

        <div ng-include="template" onload="template_loaded()"></div>
        
        <noscript>Please enable JavaScript / Update your browser</noscript>

        <footer>© 2016 Raven</footer>
        
        <script src="/index.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    </body>
<html>