        <div id="ravenChat">
            <div class="raven-chat-body">
                <div class="raven-chat-header">
                    <h1>chat in <span class="raven-chat-room-name">{{getTitle()}}</span></h1>
                </div>
                <div class="raven-chat-main">
                    <div class="raven-chat-window" id="ravenChatWindow">
                        <div class="raven-chat-message-list" id="ravenChatMessageList"></div>
                    </div>
                    <div class="raven-chat-input" id="ravenChatInput">
                        <form ng-submit="chat.sendMessage()" id="ravenSendMessage" method="post" name="ravenSendMessage">
                            <div class="text-counter"><span class="text-counter-display">140</span> remaining</div>
                            <input autocomplete="off" class="c-form-control text-counter-input" maxlength="140" name="message" required="" type="text" ng-model="chat.message" placeholder="Write a message...">
                            <input type="submit" value="send" ng-disabled="chat.formValid()">
                            <span class="status error" style="display:none"></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="raven-chat-sidebar">
                <div class="raven-chat-sidebar-widget raven-chat-vote-widget" id="ravenVoteWidget"
                     style="display: block;">
                    <div class="raven-chat-buttons">
                        <button class="raven-chat-vote raven-chat-vote-abandon raven-vote-class-abandon" value="ABANDON">
                            <span class="raven-icon"></span>
                            <span class="raven-chat-vote-label">abandon</span>
                        </button>
                        <button class="raven-chat-vote raven-chat-vote-continue raven-vote-class-stay" value="STAY">
                            <span class="raven-icon"></span>
                            <span class="raven-chat-vote-label">stay</span>
                        </button>
                        <button class="raven-chat-vote raven-chat-vote-increase raven-vote-class-grow" value="GROW">
                            <span class="raven-icon"></span>
                            <span class="raven-chat-vote-label">grow</span>
                        </button>
                    </div>
                </div>
                <div class="raven-chat-sidebar-widget raven-chat-quit-widget" id="ravenQuitWidget" style="display: none;">
                    <div class="raven-chat-buttons">
                        <button class="raven-chat-quit">leave room</button>
                    </div>
                </div>
                <div class="raven-chat-sidebar-widget raven-chat-notification-widget" id="ravenDesktopNotifier">
                    <input id="raven-desktop-notifier" class="filled-in" name="raven-desktop-notifier" type="checkbox">
                    <label for="raven-desktop-notifier">Allow desktop notifications</label>
                </div>
                <div class="raven-chat-sidebar-widget raven-chat-user-list-widget" id="ravenUserList">
                    <div class="raven-room-participant raven-user-class-none raven-presence-class-present raven-vote-class-{{user.vote}}" ng-repeat="user in user_list">
                        <span class="raven-icon"></span><span class="raven-username">{{user.username}}</span>
                    </div>
                    <!--<div class="raven-room-participant raven-user-class-user raven-presence-class-away  raven-vote-class-grow">
                        <span class="raven-icon"></span> <span class="raven-username">sandlehat</span>
                    </div>
                    <div class="raven-room-participant raven-user-class-user raven-presence-class-present  raven-vote-class-stay">
                        <span class="raven-icon"></span> <span class="raven-username">wargg</span>
                    </div>
                    <div class="raven-room-participant raven-user-class-user raven-presence-class-away  raven-vote-class-stay">
                        <span class="raven-icon"></span> <span class="raven-username">wargg</span>
                    </div>
                    <div class="raven-room-participant raven-user-class-user raven-presence-class-present  raven-vote-class-abandon">
                        <span class="raven-icon"></span> <span class="raven-username">wargg</span>
                    </div>
                    <div class="raven-room-participant raven-user-class-user raven-presence-class-away  raven-vote-class-abandon">
                        <span class="raven-icon"></span> <span class="raven-username">wargg</span>
                    </div>
                    <div class="raven-user-list-overflow-indicator">and x more</div>-->
                </div>
                <div class="raven-chat-sidebar-widget raven-chat-report">
                    <a href="#" target="_blank">content policy</a>&nbsp;•&nbsp;<a href="#" target="_blank">report a content policy violation</a>
                </div>
            </div>
            {{vote.listener()}}
        </div>