        <div id="ravenLogin" class="card">
            <div class="card-content">
                <div class='logo logo-white'>
                    <svg viewBox="0 0 895.5 748.3">
                        <path d="M764.9,90.3c8.3-16.6,58.1-21.5,58.1-21.5s59.7-3.8,68.7-13.9c0,0,2.6,2.3,3.7,1.9c0-26.4-88.1-44.2-131.5-36.7
                            c0,0-35.6-28.6-80-17.6c-68.5,17.1-102.5,110.1-102.5,110.1c-111,49-266,261.5-304.3,323.8c-69.7,60.3-119.7,113.2-148.7,154
                            c-19,14.3-64,48.3-78.4,60.9c-5.4,2.7-19.6,12.5-39.3,35.9C-0.5,694.8,0,698.7,0,704.3c6.7-3.5,27.3-17.7,70.8-42.2
                            c32.1-18.1,70.8-37.3,70.8-37.3S68.6,706.1,65,714.6c-7.4,3.6-32.5,31-31.5,33c1.3,2.6,23.8-2.9,26.9-7.2
                            c5.8,0.9,29.4-11.8,35.1-16.8c8.3,0,44.1-25.2,45.8-31.3c18.3-11.5,32.3-20.8,45.8-28.8c14.1-9.5,26.2-18.1,43.1-29.3
                            c40.6-26.8,122.4-67.7,152.6-78.2c11,8.8,31.3-8,31.3-8s-8.8,12.2,5,26c19.3,19.3,76.1-3.6,105.6-17.2c26.9-12.4,60-38.5,72.9-51.3
                            c30.4-30.2,70-72,104.3-134.3C763.2,259.6,722.8,148.7,764.9,90.3z"/>
                    </svg>
                </div>

                <form novalidate>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="login_username" type="text" class="c-form-control" ng-model="user.username">
                            <label for="login_username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="login_password" type="password" class="c-form-control" ng-model="user.password">
                            <label for="login_password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="waves-effect waves-light btn disabled" ng-click="user.login()" ng-disabled="user.formValid()">LOG IN OR REGISTER</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn reddit" href="/reddit">LOG IN WITH REDDIT</a>
                        </div>
                    </div>
                    <span>{{user.errorText}}</span>
                </form>
            </div>
        </div>
